<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <title>Homepage</title>
</head>
<body>
    <nav class="navbar">
        <div class="navleft">
        <img class="icon" src="{{ url_for('static', filename='images/image1.png') }}" alt="Expense icon">
        <div class="icontitle">Personal Expense Tracker</div>
        </div>
        <div class="navright">
        <button class="signup" onclick="location.href='{{url_for('signup')}}'">SIGN UP</button>
        <button class="login" onclick="location.href='{{url_for('loginn')}}'">LOG IN</button>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
    {% endif %}
    {% endwith %}
    <div class="experience">
        <img class="expimg" src="{{ url_for('static', filename='images/image2.png') }}">
        <div class="exptext">
            <form id="login" class="input-group" method="post">
                <div class="sep">
                    <p>Username</p>
                    <input type="text" class="input-field" name="user" placeholder="Username" required>
                </div>
                <div class="sep">
                    <p>Password</p>
                    <input type="password" class="input-field" name='pass' placeholder="Password" required>
                </div>
                <div class="passpad"></div>
                <button type="submit" class="submit-btn" id="log">Log In</button>
            </form>
    </div>
    </div>

</body>
</html>