*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    background: linear-gradient(to right,#2b5876,#4e4376);
}
.container{
    margin: 6% auto;
    height: 480px;
    width: 400px;
    background: #fff;
    position: relative;
    border-radius: 5%;
    overflow: hidden;
}
.btn-box{
    width: 220px;
    top: 7%;
    margin: auto;
    position: relative;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative; 
    font-weight: bold;
}
#btn{
    top: 0;
    left: 0;
    width: 110px;
    position: absolute;
    transition: 0.5s;
    border-radius: 30px;
    height: 100%;
    background: linear-gradient(to right,#2b5876,#4e4376);
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right,#2b5876,#4e4376);
    border: 0;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    margin: auto;
}
.passpad{
    height: 25px;
}
#login{
    left: 50px;
}
#signup{
    left: 450px;
}

    